In [9]:
import numpy as np
import csv
f=open('age.csv')
data=csv.reader(f)
next(data)
data=list(data)
name=input('인구 구조가 알고 싶은 지역의 이름(읍면동 단위)을(를) 입력해주세요 : ')
mn=1
result=name=''
result=0
for row in data:
    if name in row[0]:
        home=np.arrary(row[3:],dtype=int)/int(row[2])
for row in data:
    away=np.arrary(row[3:],dtype=int)/int(row[2])
    s=np.sum((home-away)**2)
    if s<mn and name not in row[0]:
        mn=s
        result_name=row[0]
        result=away
import matplotlib.pyplot as plt
plt.style.use('ggplot')
plt.figure(figsize=(10,5),dpi=300)
plt.rc('font',family='Malgun Gothic')
plt.title(name+' 지역과 가장 비슷한 인구 구조를 가진 지역')
plt.plot(home,labeel=name)
plt.plot(result,label=result_name)
plt.legend()
plt.show()

인구 구조가 알고 싶은 지역의 이름(읍면동 단위)을(를) 입력해주세요 :  양재1동

AttributeError: module 'numpy' has no attribute 'arrary'

In [14]:
import pandas as pd
index=pd.date_range('1/1/2000',periods=8)
print(index)
import numpy as np
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
df

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C
2000-01-01  0.127022  0.509600  0.388661
2000-01-02  0.272068  0.706834  0.034987
2000-01-03  0.322192  0.887290  0.854065
2000-01-04  0.486817  0.225106  0.029200
2000-01-05  0.687849  0.394847  0.132432
2000-01-06  0.576262  0.233103  0.760138
2000-01-07  0.930434  0.506012  0.073217
2000-01-08  0.790523  0.700317  0.468474

In [15]:
import pandas as pd
import numpy as np
index=pd.date_range('1/1/2000',periods=8)
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
print(df['B'])

2000-01-01    0.165599
2000-01-02    0.728334
2000-01-03    0.598579
2000-01-04    0.581562
2000-01-05    0.091683
2000-01-06    0.673759
2000-01-07    0.978619
2000-01-08    0.468846
Freq: D, Name: B, dtype: float64

In [16]:
import pandas as pd
import numpy as np
index=pd.date_range('1/1/2000',periods=8)
df=pd.DataFrame(np.random.rand(8,3),index=index,colums=list('ABC'))
print(df['B']>0.4)

TypeError: DataFrame.__init__() got an unexpected keyword argument 'colums'

In [17]:
import pandas as pd
import numpy as np
index=pd.date(range('1/1/2000',periods=8))
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
df=['0']=df['A']/df['B']
df

SyntaxError: cannot assign to literal (2727546626.py, line 5)

In [20]:
import pandas as pd
import numpy as np
index=pd.date_range('1/1/2000',periods=8)
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
df['0']=df['A']/df['B']
df['E']=np.sum(df,axis=1)
df.head()

                   A         B         C          0          E
2000-01-01  0.012355  0.156871  0.315836   0.078760   0.563822
2000-01-02  0.529884  0.036324  0.855647  14.587709  16.009565
2000-01-03  0.570025  0.796578  0.689519   0.715592   2.771714
2000-01-04  0.495888  0.233991  0.191194   2.119262   3.040334
2000-01-05  0.404490  0.021578  0.994268  18.745667  20.166003

In [21]:
import pandas as pd
import numpy as np
index=pd.date_range('1/1/2000',periods=8)
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
df['D']=df['A']/df['B']
df['E']=np.sum(df,axis=1)
df=df.sub(df['A'],axis=0)
df.head()

              A         B         C         D         E
2000-01-01  0.0  0.533428  0.558296  0.035141  1.273918
2000-01-02  0.0  0.049168  0.481549  0.532004  1.291879
2000-01-03  0.0  0.416765 -0.135878  0.122505  1.229076
2000-01-04  0.0  0.128303  0.137159  0.297263  2.056187
2000-01-05  0.0  0.618148 -0.205766  0.027222  1.334200