In [ ]:
import csv
from matplotlib import pyplot as plt
choose_month=input("2023년 데이터중 몇 월 데이터를 불러오시겠습니까?(영어로 입력하세요).")
month_data=''
f_name=''
def month_import(month):
    global f
    global month_data
    global f_name
    if month=='january' or month=='January':
        f=open('bus_station_month_january.csv',encoding='cp949')
        month_data='1월'
        f_name='bus_station_month_january.csv'
        return f
    elif month=='feburary' or month=='Feburary':
        f=open('bus_station_month_feburary.csv',encoding='cp949')
        month_data='2월'
        f_name='bus_station_month_feburary.csv'
        return f
    elif month=='march' or month=='March':
        f=open('bus_station_month_march.csv',encoding='cp949')
        month_data='3월'
        f_name='bus_station_month_march.csv'
        return f
    elif month=='april' or month=='April':
        f=open('bus_station_month_april.csv',encoding='cp949')
        month_data='4월'
        f_name='bus_station_month_april.csv'
        return f
    elif month=='may' or month=='May':
        f=open('bus_station_month_may.csv',encoding='cp949')
        month_data='5월'
        f_name='bus_station_month_may.csv'
        return f
    elif month=='june' or month=='June':
        f=open('bus_station_month_june.csv',encoding='cp949')
        month_data='6월'
        f_name='bus_station_month_june.csv'
        return f
    else:
        raise ValueError('잘못 입력하셨습니다.')
f=month_import(choose_month)
data=csv.reader(f)
next(data)
c=['#14CCCB','#389993']
bus_name=input('버스 노선을 입력하세요 : ')
bus_name_in_data=0
count=0
for row in data:
    if bus_name in row[2]:
        bus_name_in_data=1
        plt.figure(dpi=300)
        plt.rc('font',family='Malgun Gothic')
        plt.title("%s,%s번 버스, 정류장 : %s"%(month_data,bus_name,row[5]))
        plt.pie(row[6:8],labels=['승차승객수','하차승객수'],autopct='%.1f%%')
        plt.axis('equal')
        plt.legend()
        count+=1
        plt.show()
print(count)
if bus_name_in_data==0:
    raise TypeError('입력한 버스 노선 데이터가 %s 파일에 존재하지 않습니다.'%(f_name))

In [ ]:
import csv
import matplotlib.pyplot as plt
choose_month=input('몇 월 데이터를 불러오시겠습니까?')
month_data=''
f_name=''
def month_import(month):
    global f
    global month_data
    global f_name
    if month=='january' or month=='January':
        f=open('bus_station_month_january.csv',encoding='cp949')
        month_data='1월'
        f_name='bus_station_month_january.csv'
        return f
    elif month=='feburary' or month=='Feburary':
        f=open('bus_station_month_feburary.csv',encoding='cp949')
        month_data='2월'
        f_name='bus_station_month_feburary.csv'
        return f
    elif month=='march' or month=='March':
        f=open('bus_station_month_march.csv',encoding='cp949')
        month_data='3월'
        f_name='bus_station_month_march.csv'
        return f
    elif month=='april' or month=='April':
        f=open('bus_station_month_april.csv',encoding='cp949')
        month_data='4월'
        f_name='bus_station_month_april.csv'
        return f
    elif month=='may' or month=='May':
        f=open('bus_station_month_may.csv',encoding='cp949')
        month_data='5월'
        f_name='bus_station_month_may.csv'
        return f
    elif month=='june' or month=='June':
        f=open('bus_station_month_june.csv',encoding='cp949')
        month_data='6월'
        f_name='bus_station_month_june.csv'
        return f
    else:
        raise ValueError('잘못 입력하셨습니다.')
f=month_import(choose_month)
data=csv.reader(f)
next(data)
bus_name=input('버스 노선을 입력하세요 : ')
bus_name_in_data=0
ride=[]
getoff=[]
count_ride=0
count_getoff=0
figs, axes=plt.subplots(2,1)
for row in data:
    if bus_name in row[2]:
        for i in row[6]:
            ride.append(int(float(i)))
            count_ride+=1
        for i in row[7]:
            getoff.append(int(float(i)))
            count_getoff+=1
axes[0].bar(range(count_ride),ride)
axes[1].bar(range(count_getoff),getoff)
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
fig,axes=plt.subplots(2,2)
x=[i for i in range(20)]
y=[np.random.randint(1,10) for i in range(20)]
axes[0][0].title("test")
axes[0][0].plot(x,y)
x=range(20)
y=[np.random.randint(1,10) for i in range(20)]
axes[0][1].bar(x,y)
x=range(20)
y=[np.random.randint(1,10) for i in range(20)]
axes[1][0].bar(x,y)
x=range(20)
y=[np.random.randint(1,10) for i in range(20)]
axes[1][1].scatter(x,y)
plt.tight_layout()
plt.show()

In [10]:
import pandas as pd
df = pd.read_csv('bus_station_month_june.csv',encoding='cp949')
temp = df[df['노선번호'] == '101']
temp

,사용월,노선ID,노선번호,노선명,버스정류장ID,버스정류장명,승차승객수,하차승객수
283,Jun-23,11110002,101,101번(화계사~동대문),8501937,우이동도선사입구(기점가상),39,11
284,Jun-23,11110002,101,101번(화계사~동대문),72563,우이동도선사입구.북한산우이역,1493,4
285,Jun-23,11110002,101,101번(화계사~동대문),72564,우이동성원아파트,1017,21
286,Jun-23,11110002,101,101번(화계사~동대문),9198,쌍문동청한빌라,7579,185
287,Jun-23,11110002,101,101번(화계사~동대문),7645,쌍문동우이빌라,1532,294
...,...,...,...,...,...,...,...,...
362,Jun-23,11110002,101,101번(화계사~동대문),9259,쌍문동우이빌라,62,2571
363,Jun-23,11110002,101,101번(화계사~동대문),9201,쌍문동청한빌라,42,3756
364,Jun-23,11110002,101,101번(화계사~동대문),72602,동아운수앞,13,2245
365,Jun-23,11110002,101,101번(화계사~동대문),72599,우이동성원아파트,6,1610
366,Jun-23,11110002,101,101번(화계사~동대문),8501983,동아운수종점(종점가상),0,8

In [11]:
####
####   좀 손봐야 할 코드.
####
import pandas as pd
from matplotlib import pyplot as plt
choose_month=input("2023년 데이터중 몇 월 데이터를 불러오시겠습니까?(영어로 입력하세요).")
month_data=''
f_name=''
def month_import(month):
    global f
    global month_data
    global f_name
    if month=='january' or month=='January':
        f=open('bus_station_month_january.csv',encoding='cp949')
        month_data='1월'
        f_name='bus_station_month_january.csv'
        return f
    elif month=='feburary' or month=='Feburary':
        f=open('bus_station_month_feburary.csv',encoding='cp949')
        month_data='2월'
        f_name='bus_station_month_feburary.csv'
        return f
    elif month=='march' or month=='March':
        f=open('bus_station_month_march.csv',encoding='cp949')
        month_data='3월'
        f_name='bus_station_month_march.csv'
        return f
    elif month=='april' or month=='April':
        f=open('bus_station_month_april.csv',encoding='cp949')
        month_data='4월'
        f_name='bus_station_month_april.csv'
        return f
    elif month=='may' or month=='May':
        f=open('bus_station_month_may.csv',encoding='cp949')
        month_data='5월'
        f_name='bus_station_month_may.csv'
        return f
    elif month=='june' or month=='June':
        f=open('bus_station_month_june.csv',encoding='cp949')
        month_data='6월'
        f_name='bus_station_month_june.csv'
        return f
    else:
        raise ValueError('잘못 입력하셨습니다.')
f=month_import(choose_month)
data=csv.reader(f)
next(data)
c=['#14CCCB','#389993']
bus_name=input('버스 노선을 입력하세요 : ')
bus_name_in_data=0
count=0
for row in data:
    if bus_name in row[2]:
        bus_name_in_data=1
        plt.figure(dpi=300)
        plt.rc('font',family='Malgun Gothic')
        plt.title("%s,%s번 버스, 정류장 : %s"%(month_data,bus_name,row[5]))
        plt.pie(row[6:8],labels=['승차승객수','하차승객수'],autopct='%.1f%%')
        plt.axis('equal')
        plt.legend()
        count+=1
        plt.show()
print(count)
if bus_name_in_data==0:
    raise TypeError('입력한 버스 노선 데이터가 %s 파일에 존재하지 않습니다.'%(f_name))

2023년 데이터중 몇 월 데이터를 불러오시겠습니까?(영어로 입력하세요).

ValueError: 잘못 입력하셨습니다.